@charset "UTF-8";

.description-box {
  padding-bottom: 50px;
  margin: 40px 0;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.04);
}

@media screen and (min-width: 769px) {
  .description-box {
    width: 45%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 900px) {
  .description-box {
    width: 30%;
  }
}

.description-box .description-box-container h3 {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin: 10px 0;
}

.description-box .description-box-container .description-box-text-box {
  width: 90%;
  margin: 0 auto;
  font-size: 13px;
  color: #202020;
  font-weight: 400;
  height: auto;
  overflow: hidden;
  transition: max-height 1s;
}

.description-box .description-box-container .description-box-text-box h4 {
  font-weight: 700;
  font-size: 18px;
  color: #808080;
  margin-bottom: 10px;
}

.description-box .description-box-container .description-box-text-box .description-contents {
  position: relative;
  height: auto;
  overflow: hidden;
  max-height: 200px;
  transition: max-height 0.3s;
}

.description-box .description-box-container .description-box-text-box .description-contents::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgb(255, 253, 253));
}

.description-box .description-box-container .description-box-text-box .description-contents.open::after {
  z-index: -1;
  opacity: 0;
}

.description-box .description-box-container .description-box-text-box .description-contents .description-box-feature {
  margin-bottom: 10px;
}

.description-box .description-box-container .description-box-text-box .description-contents .description-box-feature .description-box-feature-title {
  margin-bottom: 1px;
}

.description-box .description-box-container .description-box-text-box .description-contents .description-box-character .description-box-character-title {
  margin-bottom: 1px;
}

.description-box .description-box-container .description-box-text-box .description-more-btn {
  display: block;
}

.description-box .description-box-container .description-box-text-box .description-more-btn .description-box-more-box {
  display: none;
}

.description-box .description-box-container .description-box-text-box .description-more-btn .description-box-more-box.active {
  display: block;
  font-size: 16px;
  color: #4c372b;
  padding: 15px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

.description-box .description-box-container .description-box-text-box .description-more-btn .description-box-more-box.active .description-box-more {
  text-align: center;
}

.description-box .description-box-container .description-box-text-box .description-more-btn .description-box-more-box.active .description-box-more-arrow {
  position: absolute;
  right: 60px;
  top: 25%;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-color: transparent transparent #4c372b #4c372b;
  transform: rotate(-45deg);
  border-radius: 2px;
}

.description-box .description-box-container .description-box-text-box .description-more-btn .description-box-close-box {
  display: none;
}

.description-box .description-box-container .description-box-text-box .description-more-btn .description-box-close-box.active {
  display: block;
  font-size: 16px;
  color: #4c372b;
  padding: 15px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

.description-box .description-box-container .description-box-text-box .description-more-btn .description-box-close-box.active .description-box-close {
  text-align: center;
}

.description-box .description-box-container .description-box-text-box .description-more-btn .description-box-close-box.active .description-box-close-arrow {
  position: absolute;
  right: 60px;
  top: 45%;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-color: transparent transparent #4c372b #4c372b;
  transform: rotate(-225deg);
  border-radius: 2px;
}

.description-box .description-box-container .description-box-text-box .description-more-btn .description-box-search-btn {
  background-color: #4c372b;
  padding: 15px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  width: 100%;
}

.description-box .description-box-container .description-box-text-box .description-more-btn .description-box-search-btn:hover {
  opacity: 0.6;
}
