@charset "UTF-8";

.after-follow {
  background-color: #fff;
}

.after-follow .after-follow-container {
  padding: 15px 0;
}

@media screen and (min-width: 544px) {
  .after-follow .after-follow-container {
    max-width: 515px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 769px) {
  .after-follow .after-follow-container {
    max-width: 690px;
  }
}

@media screen and (min-width: 992px) {
  .after-follow .after-follow-container {
    max-width: 930px;
  }
}

@media screen and (min-width: 1200px) {
  .after-follow .after-follow-container {
    max-width: 1125px;
    padding-bottom: 50px;
  }
}

.after-follow-content-container {
  margin-top: 15px;
}

@media screen and (min-width: 544px) {
  .after-follow-content-container {
    border-radius: 6px;
  }
}

.after-follow-content-container .after-follow-content {
  position: relative;
  margin-bottom: 230px;
}

.after-follow-content-container .after-follow-content .after-follow-content-box {
  color: #202020;
  text-align: center;
  padding: 15px;
  margin: auto 15px;
  position: absolute;
  bottom: -220px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.01);
}

.after-follow-content-container .after-follow-content .after-follow-content-box h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.after-follow-content-container .after-follow-content .after-follow-content-box p {
  font-size: 16px;
  margin-top: 15px;
  text-align: left;
}

.after-follow-content-container .after-follow-content .after-follow-content-box button {
  margin: 5px 0 15px;
}

.after-follow-content-container .after-follow-content2 {
  margin-bottom: 205px;
}

.after-follow-content-container .after-follow-content2 .after-follow-content-box {
  bottom: -190px;
}

@media screen and (min-width: 576px) {
  .after-follow-content2-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px 15px;
  }
}

@media screen and (min-width: 576px) {
  .after-follow-content2-box-container a {
    width: 50%;
  }
}

@media screen and (min-width: 769px) {
  .after-follow-content2-box-container a {
    width: 33%;
  }
}

.after-follow-content2-box-container a .after-follow-content2-box {
  padding: 0 0 15px;
}

@media screen and (min-width: 576px) {
  .after-follow-content2-box-container a .after-follow-content2-box {
    padding: 10px 15px;
  }
}

.after-follow-content2-box-container a .after-follow-content2-box .after-follow-content2 .after-follow-img-box {
  display: flex;
  justify-content: center;
}

.after-follow-content2-box-container a .after-follow-content2-box .after-follow-content2 p {
  margin: 15px 15px 0;
}

@media screen and (min-width: 544px) {
  .after-follow-content2-box-container a .after-follow-content2-box .after-follow-content2 p {
    margin: 15px 0 0;
  }
}

.after-follow-content2-box-container a .after-follow-content2-box .after-follow-content2 .after-follow-content2-description {
  display: flex;
  padding: 20px 0;
  margin: 0 15px;
}

@media screen and (min-width: 544px) {
  .after-follow-content2-box-container a .after-follow-content2-box .after-follow-content2 .after-follow-content2-description {
    margin: 0;
  }
}

.after-follow-content2-box-container a .after-follow-content2-box .after-follow-content2 .after-follow-content2-description p {
  margin: 0;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  transition: all 0.2s;
}

.after-follow-content2-box-container a .after-follow-content2-box .after-follow-content2 .after-follow-content2-description p:hover {
  color: #f3981c;
}

.after-follow-content2-box-container a .after-follow-content2-box .after-follow-content2 .after-follow-content2-description .hr {
  display: block;
  border-top: solid 1px #4c372b;
  width: 100%;
  height: 1px;
  margin: auto 0;
}

.after-follow-content2-box-container a .after-follow-content2-box .after-follow-content2 .after-follow-content2-description i {
  margin-left: 6px;
}

.feature {
  padding: 15px 0 50px;
}

.feature .feature-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-container {
  margin: 0 15px;
}

@media screen and (min-width: 544px) {
  .info-container {
    max-width: 515px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 576px) {
  .info-container {
    max-width: 515px;
  }
}

@media screen and (min-width: 769px) {
  .info-container {
    max-width: 690px;
  }
}

@media screen and (min-width: 992px) {
  .info-container {
    max-width: 930px;
  }
}

@media screen and (min-width: 1200px) {
  .info-container {
    max-width: 1125px;
  }
}

.info-container .info-box {
  background-color: #fff;
  border: solid #a1998c 1px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .info-container .info-box {
    padding: 15px 30px;
  }
}

@media screen and (min-width: 992px) {
  .info-container .info-box .info-right {
    display: flex;
    align-items: center;
  }
}

.info-container .info-box .info-right .info-category {
  display: none;
}

@media screen and (min-width: 992px) {
  .info-container .info-box .info-right .info-category {
    display: block;
    font-weight: 700;
    padding: 0 35px 0 25px;
  }
}

@media screen and (min-width: 992px) {
  .info-container .info-box .info-right .info-text-box .info-text {
    border-left: 1px solid #e8e8e8;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px 0;
  }
}

.info-container .info-box .info-right .info-text-box .info-text:hover p,
.info-container .info-box .info-right .info-text-box .info-text:hover span {
  border-bottom: 1px solid;
}

.info-container .info-box .info-right small {
  display: block;
  margin-top: 7px;
  color: #a59c95;
}

@media screen and (min-width: 992px) {
  .info-container .info-box .info-right small {
    margin: 0;
    padding: 0 15px 0 15px;
  }
}

.news {
  padding: 15px 0 50px;
}

.news .news-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.safety {
  background-color: #fff;
  padding-bottom: 25px;
}

@media screen and (min-width: 544px) {
  .safety .safety-container {
    max-width: 515px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 769px) {
  .safety .safety-container {
    max-width: 690px;
  }
}

@media screen and (min-width: 992px) {
  .safety .safety-container {
    max-width: 950px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .safety .safety-container {
    max-width: 1125px;
  }
}

.safety-content-box-container {
  padding: 0 15px;
}

@media screen and (min-width: 544px) {
  .safety-content-box-container {
    padding: 0;
  }
}

@media screen and (min-width: 576px) {
  .safety-content-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px 15px;
  }
}

@media screen and (min-width: 769px) {
  .safety-content-box-container {
    margin-top: 30px;
  }
}

@media screen and (min-width: 576px) {
  .safety-content-box-container a {
    width: 50%;
  }
}

@media screen and (min-width: 769px) {
  .safety-content-box-container a {
    width: 33%;
    display: block;
  }
}

.safety-content-box-container a .safety-content-box {
  padding: 15px 0;
}

@media screen and (min-width: 576px) {
  .safety-content-box-container a .safety-content-box {
    padding: 10px 15px;
  }
}

.safety-content-box-container a .safety-content-box .safety-content .safety-img-box {
  position: relative;
}

.safety-content-box-container a .safety-content-box .safety-content .safety-img-box img {
  border-radius: 6px;
  width: 100%;
}

@media screen and (min-width: 544px) {
  .safety-content-box-container a .safety-content-box .safety-content .safety-img-box img {
    width: 100%;
    margin: 0;
  }
}

.safety-content-box-container a .safety-content-box .safety-content .safety-img-box h2 {
  font-weight: 700;
  font-size: 20px;
  padding: 15px 15px 15px 0;
  border-radius: 0 10px;
  position: absolute;
  bottom: -35px;
  left: 0;
  background-color: #fff;
}

@media screen and (min-width: 769px) {
  .safety-content-box-container a .safety-content-box .safety-content .safety-img-box h2 {
    line-height: 1;
  }
}

.safety-content-box-container a .safety-content-box .safety-content p {
  margin: 40px 0 0;
  font-weight: 400;
  color: #202020;
}

.safety-content-box-container a .safety-content-box .safety-content .safety-content-description {
  display: flex;
  padding: 15px 0;
  margin: 0;
}

@media screen and (min-width: 544px) {
  .safety-content-box-container a .safety-content-box .safety-content .safety-content-description {
    margin: 0;
  }
}

.safety-content-box-container a .safety-content-box .safety-content .safety-content-description p {
  margin: 0;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  transition: all 0.2s;
}

.safety-content-box-container a .safety-content-box .safety-content .safety-content-description p:hover {
  color: #f3981c;
}

.safety-content-box-container a .safety-content-box .safety-content .safety-content-description .hr {
  display: block;
  border-top: solid 1px #4c372b;
  width: 100%;
  height: 1px;
  margin: auto 0;
}

.safety-content-box-container a .safety-content-box .safety-content .safety-content-description i {
  margin-left: 6px;
}

.search-container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 544px) {
  .search-container {
    max-width: 515px;
  }
}

@media screen and (min-width: 769px) {
  .search-container {
    max-width: 690px;
  }
}

@media screen and (min-width: 992px) {
  .search-container {
    max-width: 930px;
  }
}

@media screen and (min-width: 1200px) {
  .search-container {
    max-width: 1125px;
  }
}

.animal-box {
  background-color: #fff;
}

@media screen and (min-width: 992px) {
  .animal-box {
    background-color: transparent;
  }
}

.tab-menu {
  display: flex;
  padding-top: 20px;
}

@media screen and (min-width: 992px) {
  .tab-menu {
    display: none;
  }
}

.tab-menu-item {
  cursor: pointer;
  transition: all 0.2s ease;
  color: #808080;
  width: 50%;
  text-align: center;
  font-weight: 700;
  border-bottom: #fff;
}

.tab-menu-item.is-active {
  border-bottom: 2px #4c372b solid;
  color: #4c372b;
}

.tab-menu-item .fa-caret-down {
  display: none;
}

.tab-menu-item.is-active .fa-caret-down {
  display: block;
}

.animal-list-container {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .animal-list-container {
    display: flex;
    justify-content: space-between;
  }
}

.animal-list {
  display: none;
  transition: all 0.2s ease;
}

@media screen and (min-width: 992px) {
  .animal-list {
    display: block;
    transition: all 0.2s ease;
    border-radius: 8px;
    background-color: #fff;
    width: calc(50% - 15px);
  }
}

.animal-list .animal-list-title {
  display: none;
  text-align: center;
  padding-top: 15px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 8px;
}

@media screen and (min-width: 992px) {
  .animal-list .animal-list-title {
    display: block;
  }
}

.animal-list.is-show {
  display: block;
}

.animal-item-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 7.5px;
  padding-bottom: 7.5px;
}

.animal-item-box a {
  display: block;
  width: calc(50% - 20px);
  margin: 7.5px;
}

@media screen and (min-width: 769px) {
  .animal-item-box a {
    width: calc(33% - 20px);
  }
}

.animal-item {
  position: relative;
}

.animal-item img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 230px;
  border-radius: 6px;
  vertical-align: top;
}

@media screen and (min-width: 769px) {
  .animal-item img {
    height: 200px;
  }
}

@media screen and (min-width: 992px) {
  .animal-item img {
    border-radius: 10px;
    height: 130px;
  }
}

@media screen and (min-width: 1200px) {
  .animal-item img {
    height: 160px;
  }
}

.animal-item .animal-name {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(22, 22, 22, 0.63));
  border-radius: 6px;
}

@media screen and (min-width: 992px) {
  .animal-item .animal-name {
    bottom: 0;
    padding-bottom: 5px;
  }
}

.animal-item .animal-name p {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}

.animal-item .animal-name i {
  color: #fff;
  margin-right: 10px;
}

.all-animal {
  border: solid 3px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: 0.3s;
}

.all-animal:hover {
  background-color: #4c372b;
  color: #fff;
  border: solid 3px #4c372b;
}

.all-animal p {
  font-size: 18px;
  font-weight: 700;
}

.all-animal p i {
  margin-left: 3px;
}

.search-shop {
  padding: 0 15px;
}

@media screen and (min-width: 544px) {
  .search-shop {
    padding: 0;
  }
}

.search-shop .search-shop-title {
  display: flex;
  margin: 25px 0;
}

@media screen and (min-width: 769px) {
  .search-shop .search-shop-title {
    display: none;
  }
}

.search-shop .search-shop-title p {
  padding: 0 10px;
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
}

.search-shop .search-shop-title .hr {
  display: block;
  border-top: solid 1px #4c372b;
  width: 100%;
  height: 1px;
  margin: auto 0;
}

@media screen and (min-width: 544px) {
  .search-shop .search-shops {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 769px) {
  .search-shop .search-shops {
    margin-top: 40px;
    justify-content: center;
  }
}

.search-shop .search-shops .near-shop,
.search-shop .search-shops .partner-shop {
  font-size: 16px;
  font-weight: 700;
  border: 2px solid #4c372b;
  padding: 8px 0;
  width: 100%;
  text-align: center;
  border-radius: 6px;
  transition: 0.2s;
}

@media screen and (min-width: 544px) {

  .search-shop .search-shops .near-shop,
  .search-shop .search-shops .partner-shop {
    width: 250px;
  }
}

@media screen and (min-width: 769px) {

  .search-shop .search-shops .near-shop,
  .search-shop .search-shops .partner-shop {
    width: auto;
    padding: 8px 15px;
  }
}

.search-shop .search-shops .near-shop {
  background-color: #4c372b;
  color: #fff;
  margin-bottom: 15px;
}

@media screen and (min-width: 769px) {
  .search-shop .search-shops .near-shop {
    margin-right: 15px;
  }
}

.search-shop .search-shops .near-shop:hover {
  background-color: #fff;
  color: #4c372b;
}

.search-shop .search-shops .partner-shop {
  background-color: #fff;
  color: #4c372b;
  margin-bottom: 65px;
}

.search-shop .search-shops .partner-shop:hover {
  background-color: #4c372b;
  color: #fff;
}
