.hamburger {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 23px;
  height: 20px;

  span {
    display: block;
    position: absolute;
    height: 4px;
    border-radius: 2px;
    background-color: #4c372b;
    width: 100%;

    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2) {
      top: 8px;
    }
    &:nth-child(3) {
      top: 16px;
    }
  }
}

.hamburger.inactive {
  z-index: 1;
}
