.description-button {
  background-color: #4c372b;
  color: #fff;
  padding: 9px 15px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid #4c372b;
  transition: 0.1s;

  &:hover {
    background-color: #fff;
    color: #4c372b;
    border: 2px solid #4c372b;
    padding: 9px 15px;
  }
}

.more-button {
  padding: 8px 32px;
  border: 2px solid #4c372b;
  border-radius: 6px;
  background-color: #4c372b;
  color: #fff;
  font-weight: 700;
  margin: 15px auto;

  &:hover {
    background-color: #fff;
    color: #4c372b;
    border: 2px solid #4c372b;
    padding: 8px 32px;
  }
}
